@font-face {
    font-family: 'BodoniMode-italic';
    src: url('/fonts/BodoniModa-Italic-VariableFont_opsz,wght.ttf') format('truetype');
    font-style: italic;
}

@font-face {
    font-family: 'BodoniMode';
    src: url('/fonts/BodoniModa-VariableFont_opsz,wght.ttf') format('truetype');
}

@font-face {
    font-family: 'GreatVibes-Regular';
    src: url('/fonts/GreatVibes-Regular.ttf') format('truetype');
}

/* scroll styling */
html {  
    scrollbar-width: none; 
} 

*,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
li,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

section {
    height: 100vh;
}

.first-img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    transition: all .5s;
    clip-path: polygon(0 0, 100% 0, 100% 95%, 90% 90%, 80% 95%, 70% 90%, 60% 95%, 50% 90%, 40% 95%, 30% 90%, 20% 95%, 10% 90%, 0 95%, 0 100%);
}

.first-img:hover {
    transform: scale(1.1);
}

.second-img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

/* styling for the first-section*/

.logo-img{
    width: 100%;
    height: 9rem;
    object-fit: contain;
    cursor: pointer;
    position: relative;
    top:-1.7rem;  
    animation: logoAnimation 0.5s forwards;
    /* opacity: 0;
    transition: opacity 0.5s ease;  */
}
@media (min-width: 500px) {
    .logo-img{
        top:-1.4rem; 
    }
}
@media (min-width: 550px) {
    .logo-img{
        top:-1.2rem; 
    }
}
@media (min-width: 600px) {
    .logo-img{
        top:-1rem; 
    }
}
@media (min-width: 650px) {
    .logo-img{
        top:-.6rem; 
    }
}
@media (min-width: 700px) {
    .logo-img{
        top:-.4rem; 
    }
}

.titles-wedding {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 12px 48px;
    color: #fff;
    background: linear-gradient(to right, #9f9f9f 0, #fff 10%, #868686 20%);
    background-position: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s infinite linear;
    animation-fill-mode: forwards;
    -webkit-text-size-adjust: none;
    text-decoration: none;
    white-space: nowrap;
}
.first-section-title {
    border-top: 2px solid lightslategray;
   animation: slideIn 1s ease-out forwards;
}
.second-section-title {
    font-family: 'GreatVibes-Regular';
    font-weight: 100;
    animation: slideIn 1s ease-out forwards;
}

.thrid-section-title {
    border-bottom: 2px solid lightslategray;
    padding-bottom: 10px;
    animation: slideIn 1s ease-out forwards;
}

.first-section-title,
.thrid-section-title {
    font-family: 'BodoniMode';
    font-weight: 200;
    font-size: 2.2rem;
}

/* styling for the second-section*/
.first-image {
    overflow: hidden;
    position: relative;
}

.titles-first-image {
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    text-align: center;
    z-index: 10;
    font-weight: 100;
    font-family: serif;
}

.couples-name {
    text-align: center;
    line-height: 3.5rem;
    margin-top: 4rem;
    cursor: pointer;
    transition: all .5s;
    text-shadow: 2px 2px 5px rgba(255, 0, 0, 0.5), 0 0 25px rgba(255, 165, 0, 0.5);
}

.couples-name:hover {
    transform: translateY(-20px);

}

.grooms-name,
.brides-name {
    font-family: 'BodoniMode-italic';
    font-weight: 500;
    font-size: 4.5rem;
}

.distance-between-couples-name {
    font-family: 'GreatVibes-Regular';
    font-weight: 100;
    font-size: 6rem;
}

/* styling the for the thrid section */
.third-section {
    transition: all .5s;
}

.third-section:hover {
    transform: scale(1.1);
}

.second-image {
    overflow: hidden;
    position: relative;
}

.titles-and-dates {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
}

.titles-second-image {
    color: #eaeaea;
    text-align: center;
    font-size: .8rem;
    margin-top: 1.5rem;
}

.dates {
    text-align: center;
    margin-top: 25rem;
    line-height: 5rem;
}

.dates>h1 {
    color: #fff;
    font-size: 5.5rem;
    font-family: 'BodoniMode';
    font-weight: 100;
}

.address {
    color: #eaeaea;
    text-align: center;
    margin-top: 1rem;
}

/* styling the for the fourth section */
.fourth-section,
.fifth-section,
.sixth-section {
    text-align: center;
}

.please-word {
    margin-top: 3rem;
    font-weight: 100;
}

.R-S-V-P {
    font-family: 'BodoniMode';
    font-size: 8rem;
    line-height: 10rem;
    margin-top: 2.5rem;
}

.dates-and-emails {
    margin: 2rem 0;
    cursor: pointer;
}

.date {
    font-size: 2rem;
    margin-bottom: .2rem;
}
.Mindy-and-Chris{
    transition: all .5s;
    cursor: pointer;
}
.Mindy-and-Chris:hover{
    font-size: 1.2rem;
    color: blue;
}
.explained-from-the-bride-groom {
    font-family: 'GreatVibes-Regular';
    font-size: 2rem;
    color: rgb(167, 167, 167);
    margin-top: 4rem;
}

/* styling the fifth section*/

.program-title>.title-of-fifth-section {
    margin-top: 1rem;
    font-size: 3.5rem;
    font-family: "BodoniMode";
}

.time {
    font-size: 2.5rem;
    font-weight: 100;
}

.first-details {
    margin-top: 4rem;
}

.ceremony-title>p,
.Cocktail-title>p {
    font-family: "GreatVibes-Regular";
    font-size: 3rem;
    color: gray;
    cursor: pointer;
    transition: all .5s;
}

.Cocktail-title>p:hover {
    color:lightseagreen;
}
.ceremony-title>p:hover{
    color:lightseagreen;
}
.underline-distance {
    margin: 1rem 0;
    color: red;
}

/* styling the siixth section*/
.detail-title>h1 {
    margin-top: 6rem;
    font-size: 2.5rem;
    font-weight: 100;
    font-family: 'BodoniMode';
}

.details-reception {
    margin-top: 5rem;
    
}
.titles-last-section{
    transition: all .5s;
    cursor: pointer;
}
.titles-last-section:hover{
    color:lightseagreen;
}

.details-reception>h2 {
    font-family: 'GreatVibes-Regular';
    color: rgb(175, 175, 175);
    font-size: 2rem;
}

.best-wedding-title>h2 {
    font-family: 'GreatVibes-Regular';
    color: rgb(175, 175, 175);
    font-size: 2.5rem;
}

.websites-address {
    font-size: 1.2rem;
    margin-top: 6rem;
    cursor: pointer;
    transition: all .5s;
}
.websites-address >p:hover{
    color: blue;
}

/* Animation's */

@-moz-keyframes shine {
    0% {
        background-position: 0;
    }

    60% {
        background-position: 180px;
    }

    100% {
        background-position: 180px;
    }
}

@-webkit-keyframes shine {
    0% {
        background-position: 0;
    }

    60% {
        background-position: 180px;
    }

    100% {
        background-position: 180px;
    }
}

@-o-keyframes shine {
    0% {
        background-position: 0;
    }

    60% {
        background-position: 180px;
    }

    100% {
        background-position: 180px;
    }
}

@keyframes shine {
    0% {
        background-position: 0;
    }

    60% {
        background-position: 180px;
    }

    100% {
        background-position: 180px;
    }
}

@keyframes logoAnimation {  
    from {  
        opacity: 0;   
        transform: translateY(-20px);  
    }  
    to {  
        opacity: 1;   
        transform: translateY(0);     
    }  
}  
